/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.ui-form-wrapper {
  margin: 1.5%;
}

.ui-card-wrapper {
  margin: 1%;
}